<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://cri396987485timeoutlock202306151744.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/1db321d7-dbf0-47ec-a1c4-bb34e383e82f/resourcegroups/SHKR_CRI_TimerLock/providers/Microsoft.Web/sites/CRI396987485TimeoutLock202306151744</ResourceId>
    <UserName>$CRI396987485TimeoutLock202306151744</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://cri396987485timeoutlock202306151744.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>